SECRET_KEY="django-insecure-d8vtfyatqpyy+odp884k1q)_(8#)#i4o+889ig_2wg^d@%wd2c"
DEBUG=True
ALLOWED_HOSTS='localhost,127.0.0.1,0.0.0.0'

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin123
DJANGO_SUPERUSER_EMAIL=admin@gmail.com


POSTGRES_DB=hd-realty-drf
POSTGRES_PASSWORD=24032001
POSTGRES_HOST=hd-db
POSTGRES_USER=postgres
POSTGRES_PORT=5432

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

CURRENCY_RATE_API='https://cbu.uz/ru/arkhiv-kursov-valyut/json/'