SECRET_KEY="secret-key"
DEBUG=True
ALLOWED_HOSTS='hosts.'


POSTGRES_DB=db
POSTGRES_PASSWORD=password
POSTGRES_HOST=host
POSTGRES_USER=user
POSTGRES_PORT=port

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=